---
import LoadingHeader from "../../components/LandingHeader.astro"
import FormIndoorRequest from "../../components/FormIndoorRequest.astro"
---

<div id="containerHeader">
    <LoadingHeader />
    <div class="containerFormIndoor">
        <div id="leftUbicationForm">
            <FormIndoorRequest />
        </div>
        <div id="rightUbicationForm">
            <p>Slider imagenes</p>
        </div>
    </div>
</div>