<section
class="bg-black h-screen w-screen text-center relative overflow-hidden"
>
<div class="z-30 relative h-full flex flex-col">
    <header>
        <h2 class="text-white pt-40 text-[40px] font-medium">
            Disfruta de Vira
        </h2>
        <p class="text-white text-sm">
            Programa una visita indoor hoy mismo
        </p>
    </header>
    <footer class="flex flex-grow justify-end flex-col pb-40">
        <div>
            <a href="#" class="border-[3px] rounded font-sm bg-white/5 backdrop-blur-2xl border-white text-white px-12 py-2 inline-block hover:text-black transtion-colors hover:bg-white "> Visita Indoor </a>
        </div>
    </footer>
</div>
<div class="absolute top-0 bottom-0 h-full object-cover">
    <video src="/Ladingv1.mov" autoplay muted loop></video>
</div>
</section>